h1, h2{
    font-family: 'Edu TAS Beginner',sans-serif;
}

.data-img{
    font-family: 'Sometype Mono', 'monospace';
    color: gray;
}

header{
    background-image: url(../img/wall.png);

}
body{
    background-image: url(../img/cork.png);
}
.my-container{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    width: auto;
    position: relative;
}
.card-pin{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    
}
.card-img-top img{
    max-width: 100%;
    max-height: 100%;
}
.card-body {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  /* hover */
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: rotate(10deg);
    z-index: 1;
    cursor: pointer;
  }
  .card:hover .card-pin{
    display: none;
  }

  /* card overlay on click */

  .overlay img{
    max-width: 60%;
    max-height: 60%;
  }
  .overlay{
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }